@model crud_mvc.Models.ViewModels.PermissionFormView

@{
    ViewData["Title"] = "Lista de Profissões";
}


<h2 class="title">@ViewData["Title"]</h2>

@if (Model.Profissao.Count() == 0)
{
    <div class="nenhum-cadastro">
        <h4 id="msg-nenhum-cadastro">Nenhuma profissão cadastrada</h4>
        <p>
            <a asp-action="Create" class="btn btn-primary" id="btn-nenhum-cadastro">Create New</a>
        </p>
    </div>
}
else
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    <table class="table table-striped table-hover">
        <thead>
            <tr class="success">
                <th>
                    Nome
                </th>
                @if (Model.Permission)
                {
                    <th>
                        Ação
                    </th>
                }
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Profissao)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    @if (Model.Permission)
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Atualizar</a>
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
