@model crud_mvc.Models.Pessoa

@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profissao.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profissao.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Atualizar</a>
    <a asp-action="Index" class="btn btn-dark">Voltar</a>
</div>